body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e6e6e6;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(85, 172, 238, 1);
}

main {
    min-height: 400px;
    width: 100%;
    min-width: 600px;
    border-radius: 5px;
}

i {
    padding: 5px;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 1.8em;
    color: black;
}

.clear-all {
    clear: both;
}

.azul {
    color: rgba(85, 172, 238, 1);
}

.center-logo {
    margin-left: auto;
    margin-right: auto;
}

.nav {
    display: flex;
    height: 100px;
    align-items: center;
    padding: 0 10px;
    border: 1px solid rgba(238, 238, 238, 1);
    border-radius: 5px;
    color: rgba(117, 117, 117, 1);
    box-shadow: 5px 10px 20px -20px rgba(85, 172, 238, 1);
}

.nav ul {
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav li {
    cursor: pointer;
    font-size: 18px;
}

.nav li input {
    border: none;
    padding: 10px;
    border-radius: 4px;
}

.nav li a:hover {
    color: rgba(85, 172, 238, 1);
}

.center-logo {
    color: rgba(85, 172, 238, 1);
    font-size: 1.3em;
}

.center-logo:hover {
    top: 5px;
    transition: all 1s ease;
}

.nav li:not(:last-child):not(.center-logo) {
    margin-right: 10px;
}

.nav li i:not(.fa-search) {
    margin-right: 3px;
}

.nav li button {
    font-size: 0.8em;
    border: 0;
    background: rgba(85, 172, 238, 1);
    color: #fff;
    border-radius: 100px;
    padding: 12px;
}

.nav li button:hover {
    cursor: pointer;
    background-color: black;
    transition: all 1s ease;
}

#principal {
    padding: 20px;
    width: 65%;
    margin-left: 70px;
    float: left;
}

#area-postagens {
    width: 660px;
    float: left;
}

.postagem {
    clear: both;
    padding: 20px;
    margin-bottom: 20px;
    background: white;
}

.data-postagem {
    font-size: 0.8em;
    display: block;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 20px;
}

.postagem img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 98%;
    height: auto;
}

#principal a {
    color: rgba(85, 172, 238, 1);
}

#principal a:hover {
    text-decoration: underline;
}

li {
    display: block;
    float: left;
    position: relative;
    text-decoration: none;
    transition-duration: 2s;
}

li:focus-within a {
    outline: none;
}

ul li ul {
    visibility: hidden;
    opacity: 0;
    padding: 8px;
    position: absolute;
    transition: all 1s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}

ul li:hover>ul,
ul li:focus-within>ul,
ul li ul:hover,
ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block;
}

ul li ul li {
    clear: both;
    width: 100%;
}

.conteudo-lateral {
    padding: 10px;
    margin-bottom: 20px;
}

.postagem-lateral {
    font-size: 1em;
    margin-bottom: 10px;
    padding: 5px;
    border-bottom: 2px dotted #ccc;
    background: white;
}

.postagem-lateral a {
    color: rgba(85, 172, 238, 1);
}

.postagem-lateral a:hover {
    margin-bottom: 12px;
    text-decoration: underline;
    transition: all 0.7 ease;
}

#lateral {
    width: 25%;
    float: right;
}

#rodape {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    background: #e6e6e6;
    flex-direction: column;
}

#rodape p {
    font-weight: bold;
}

#card-container {
    display: grid;
    grid-template-columns: auto auto;
    width: 65%;
    grid-gap: 10px;
    margin: auto auto;
}

.card::before {
    left: -100;
}

.card {
    left: 0;
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    background: rgba(85, 172, 238, 1);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    border-radius: 10px;
    padding: 20px;
    line-height: 10px;
    transition: all 1s ease;
}

.card img {
    border-radius: 50%;
    width: 40%;
    height: 40%;
    margin-bottom: 10px;
}

#contato {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}

#contato>form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 60%;
}

#contato>form>label {
    font-size: 18px;
    color: #444;
    font-weight: bold;
    margin-bottom: 8px;
}

#contato>form>input {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 2px;
    height: 45px;
    padding: 0px 15px;
    font-size: 16px;
    align-items: center;
}

#contato form button {
    border: 0;
    border-radius: 2px;
    width: 100%;
    height: 42px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: bold;
    background: rgba(85, 172, 238, 1);
    color: #fff;
    cursor: pointer;
}

#contato button:hover {
    background: rgba(60, 150, 200, 1);
}